.demo{
    width:1200px;
    height:400px;
    margin:0px auto;
    /* background-color:aquamarine; */
    overflow: hidden;/*用于隐藏超出展示容器的内容部分*/
}
.demo1{
    width:6000px;
    height:400px;
    margin:0px auto;
    animation:text 30s infinite  linear;
    font-size:0px;/*消除图片间隔*/
    
}
.demo1 img{
    width:1200px;
    height:400px;
    float:left;
}
@keyframes text {          /*0%-20%是播放下一个图片，0%-10%是图片暂停的时间*/
    0%,15%{
        margin-left:0px;
    }
    20%,35%{
        margin-left:-1200px;
    }
    40%,50%{
        margin-left:-2400px;
    }
    60%,70%{
        margin-left:-3600px;
    }
    80%,90%{
        margin-left:-4800px;
    }
}

